<div class="accordion-item">
  <h2 class="accordion-header" id="flush-headingFour">
    <button class="accordion-button collapsed" type="button"
    data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
      Ng Content
    </button>
  </h2>
  <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
    <div class="accordion-body">
      <p>Neste exemplo, vamos utilizar o ng Content para passar um conteúdo para dentro do componente.</p>
      <hr>
      <h6 class="pb-2">Exemplo:</h6>
      <app-exemplo-ngcontent>
        <div class="header">
          Titulo
        </div>
        <div class="body">
          Passando conteúdo para o componente através do Ng Content.
        </div>
      </app-exemplo-ngcontent>
    </div>
  </div>
</div>
